#[submodule "bundle/ruby"]
#	path = bundle/ruby
#	url = git://github.com/vim-ruby/vim-ruby.git
#[submodule "bundle/unimpaired"]
#	path = bundle/unimpaired
#	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
#[submodule "bundle/syntastic"]
#	path = bundle/syntastic
#	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git://github.com/vim-scripts/file-line.git
#[submodule "bundle/FuzzyFinder"]
#	path = bundle/FuzzyFinder
#	url = git://github.com/vim-scripts/FuzzyFinder.git
#[submodule "bundle/taglist"]
#	path = bundle/taglist
#	url = git://github.com/vim-scripts/taglist.vim.git
#[submodule "bundle/ack"]
#	path = bundle/ack
#	url = git://github.com/vim-scripts/ack.vim.git
#[submodule "bundle/colorschemes"]
#	path = bundle/colorschemes
#	url = git://github.com/flazz/vim-colorschemes.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = git://github.com/vim-scripts/wikipedia.vim.git
[submodule "bundle/ri-viewer"]
	path = bundle/ri-viewer
	url = git://github.com/vim-scripts/ri-viewer.git
[submodule "bundle/nesC"]
	path = bundle/nesC
	url = git://github.com/vim-scripts/nesC.git
[submodule "bundle/hdl-plugin"]
	path = bundle/hdl-plugin
	url = git://github.com/vim-scripts/hdl_plugin.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/puppet-syntax"]
	path = bundle/puppet-syntax
	url = git://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/jinfield/vim-nginx.git
